html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: top;
  background: transparent;

}

html {

  --width: 80ch;

  --font: "DejaVu Sans Mono", SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;

  --font-size: 1rem;
  --font-size-double: calc(2*var(--font-size));
  --font-size-half: calc(0.5*var(--font-size));
  --font-size-minus: calc(-1*var(--font-size));
  --font-size-minus-double: calc(-2*var(--font-size));
  --font-size-minus-half: calc(-0.5*var(--font-size));

  --header-size: 14;
  --header-offset: calc(var(--header-size) * var(--font-size));
  --header-offset-minus: calc(-1*var(--header-offset));

  --footer-size: 9;
  --footer-offset: calc(var(--footer-size) * var(--font-size));

  --indent-size: 4ch;

  --toggle-duration: 0.6s;

  font-size: var(--font-size);
  font-family: var(--font);
  /* line-height: 1; */

  word-wrap: break-word;
  overflow-wrap: break-word;

  color: var(--text-color);
  background-color: var(--bg-color);

  transition: background-color var(--toggle-duration);

}

.theme-monokai-light {

  --text-color:          hsl(194, 14%, 24%);
  --bg-color:            hsl(44,  10%, 99%);
  --text-color-emphasis: hsl(340, 66%, 52%);
  --text-color-link:     hsl(205, 70%, 48%);
  --text-color-visited:  hsl(205, 70%, 48%);

}

.theme-monokai-dark {

  --text-color:          hsl(60,  30%, 96%);
  --bg-color:            hsl(70,   8%, 15%);
  --text-color-emphasis: hsl(338, 95%, 56%);
  --text-color-link:     hsl(190, 81%, 67%);
  --text-color-visited:  hsl(190, 81%, 67%);

}

.theme-one-light {

  --text-color:          hsl(230,  8%, 24%);
  --bg-color:            hsl(230,  1%, 98%);
  --text-color-emphasis: hsl(301, 63%, 40%);
  --text-color-link:     hsl(221, 87%, 60%);
  --text-color-visited:  hsl(221, 87%, 60%);

}

.theme-one-dark {

  --text-color:          hsl(220, 14%, 71%);
  --bg-color:            hsl(220, 13%, 18%);
  --text-color-emphasis: hsl(286, 60%, 67%);
  --text-color-link:     hsl(207, 82%, 66%);
  --text-color-visited:  hsl(207, 82%, 66%);

}
.theme-plain-light {

  --text-color:          hsl(0, 0%, 18%);
  --bg-color:            hsl(0, 0%, 98%);
  --text-color-emphasis: hsl(0, 0%, 18%);
  --text-color-link:     hsl(0, 0%, 18%);
  --text-color-visited:  hsl(0, 0%, 18%);

}
.theme-plain-dark {

  --text-color:          hsl(0, 0%, 85%);
  --bg-color:            hsl(0, 0%, 18%);
  --text-color-emphasis: hsl(0, 0%, 85%);
  --text-color-link:     hsl(0, 0%, 85%);
  --text-color-visited:  hsl(0, 0%, 85%);

}

.pre {

  white-space: pre-wrap;
  word-wrap: break-word;

}

.indent {
  padding-left: var(--indent-size);
  /* display: inline-block; */
  /* position: relative; */
}

.menu-name {
  vertical-align: top;
}

.menu-items {
  max-width: calc(100% - 10ch);
  display: inline-block;
}


body {

  width: var(--width);

  margin-left: auto;
  margin-right: auto;

  background-color: var(--bg-color);
  transition: background-color var(--toggle-duration);

}


main {

  padding-top: var(--font-size);
  padding-bottom: var(--footer-offset);
  /* margin-top: var(--header-offset); */

  background-color: var(--bg-color);

  transition:
    color var(--toggle-duration),
    background-color var(--toggle-duration),
    box-shadow var(--toggle-duration),
    border var(--toggle-duration);

}

header {

  position: sticky;
  top: 0px;

  padding-top: var(--font-size-double);
  padding-bottom: var(--font-size);

  border-bottom: 1px solid var(--text-color);

  background-color: var(--bg-color);
  box-shadow:
    0px
    var(--font-size-half)
    var(--font-size)
    0px
    var(--bg-color);

  transition:
    color var(--toggle-duration),
    background-color var(--toggle-duration),
    box-shadow var(--toggle-duration),
    border var(--toggle-duration);

}

footer {

  position: fixed;
  width: var(--width);
  bottom: 0px;

  padding-top: var(--font-size);
  padding-bottom: var(--font-size-double);

  border-top: 1px solid var(--text-color);

  background-color: var(--bg-color);
  box-shadow:
    0px
    var(--font-size-minus-half)
    var(--font-size)
    0px
    var(--bg-color);

  transition:
    color var(--toggle-duration),
    background-color var(--toggle-duration),
    box-shadow var(--toggle-duration),
    border var(--toggle-duration);

}

div {
  display: inline-block;
}

p {
  margin-bottom: 1rem;
  /* display: inline-block; */
}

em, .em {

  font-weight: bold;
  font-style: normal;

  color: var(--text-color-emphasis);
  transition: color var(--toggle-duration);

  white-space: nowrap;

}

a, a:active {

  color: var(--text-color-link);
  transition:
    color var(--toggle-duration),
    background-color var(--toggle-duration);

  white-space: nowrap;

}

a:visited {

  color: var(--text-color-visited);
  transition: color var(--toggle-duration);

  /* white-space: nowrap; */

}

a:hover{

  color: var(--bg-color);
  background-color: var(--text-color-link);

  /* white-space: nowrap; */

}

.anchor-no-decoration {
  text-decoration: none;
}

.offset-anchor:target {
  padding-top: var(--header-offset);
  margin-top: var(--header-offset-minus);
}

select {

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  font-family: var(--font);
  font-size: inherit;
  font-weight: bold;

  color: var(--text-color-link);
  background-color: var(--bg-color);
  border: none;
  transition:
    color 0s,
    background-color 0s;

}

select:hover {
  color: var(--bg-color);
  background-color: var(--text-color-link);
}

select::msg-expand { display: none }

.center-title {
  padding-left: calc((100% - 6ch) / 2);
}

.center-name {
  padding-left: calc((100% - 14ch) / 2);
}

.center-headings {
  padding-left: calc((100% - 40ch) / 2);
}

.center-contacts {
  padding-left: calc((100% - 44ch) / 2);
}

.center-date {
  padding-left: calc((100% - 10ch) / 2);
}

.toggle-dropdown {
  top: 0px;
}

.align-right {
  position: absolute;
  right: 0px;

  text-align: right;
}


@media screen and (max-width: 799px) {
  html {
    --width: 72ch;
    --font-size: 0.95rem;
    --header-size: 15;
    line-height: 1.1;
  }
}

@media screen and (max-width: 699px) {
  html {
    --width: 65ch;
    --indent-size: 2ch;
    --font-size: 0.9rem;
    --header-size: 10;
  }

  .responsive-hide {
    display: none;
  }

}

@media screen and (max-width: 599px) {
  html {
    --width: 55ch;
    --font-size: 0.88rem;
    --header-size: 10;
    line-height: 1.2;
  }
}

@media screen and (max-width: 499px) {
  html {
    --width: 50ch;
    --indent-size: 0ch;
    --font-size: 0.85rem;
    --header-size: 11;
    --footer-size: 10;
    line-height: 1.3;
  }
}

@media screen and (max-width: 420px) {
  html {
    --width: 42ch;
    --footer-size: 13;
  }

  footer {
    padding-bottom: var(--font-size);
  }

  .print-block {
    display: block;
    white-space: normal !important;
    margin-bottom: var(--font-size-minus);
  }
}

@media print {

  html {
    --width: 100%;
    --indent-size: 0ch;
    --font-size: 10pt;
    margin: 1cm;
    line-height: 1.2;
  }

  header {
    position: static;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
  }

  footer {
    position: absolute;
    border: none;
  }

  section {
    page-break-inside: avoid;
  }

  * {
    background-color: transparent !important;
    color: #000000 !important;
    box-shadow: none !important;
  }

  a {
    word-wrap: break-word !important;
  }

  a[href^="http"]:not([href*="jalovatt.github.io"]):after {
    content: " (" attr(href) ")";
    word-wrap: break-word !important;
  }

  .offset-anchor:target {
    padding-top: 0;
    margin-top: 0;
  }

  select {
    display: none;
  }

  .center-headings {
    display: none;
  }

  .center-contacts {
    word-wrap: break-word;
    padding-left: 0;
    /* white-space: normal !important; */
  }

  main {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
  }

  #summary,
  #history,
  #projects {
    margin-top: var(--font-size-double);
    display: block;
  }

  #skills {
    position: relative;
    display: block;
    page-break-before: always;
    break-inside: avoid;
  }

  .print-block {
    display: block;
    white-space: normal !important;
    margin-bottom: var(--font-size-minus);
  }

  .print-experienced {
    margin-left: 4ch;
  }

}
